* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** Fonts ********/
@font-face {
    font-family: 'Times New Roman';
    src: url('fonts/times.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('fonts/timesbd.ttf');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('fonts/timesi.ttf');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('fonts/timesbi.ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
html {
    --serif: 'Times New Roman', TimesNewRoman, Times;
}

/***** Subscript/superscript ********/
sup, sub {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
    top: -.4em;
}
sub { top: .4em; }

/***** Table-of-contents *****/
.toc {
    margin-left: 0;                       /* don't indent 1st <ul> level */
    text-align: left;
    columns: calc(var(--hgrid) * 10) auto;
    column-gap: var(--hgrid);
    /* column-rule: 1px solid black; */
}
.toc .h4,                                 /* hide <h4> headers */
.toc > li:first-child { display: none; }  /* hide 1st entry 'Contents' */
.toc, .toc ul { list-style: none; }       /* no bullets */
.toc ul { margin-top: 0; }

/* eof */
