* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** Fonts ********/
@font-face {
    font-family: 'Times New Roman';
    src: url('fonts/times.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('fonts/timesbd.ttf');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('fonts/timesi.ttf');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('fonts/timesbi.ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
html {
    font-size: 18px;
    line-height: 1.5;      /* = 27px for (unresized) 18px text */
    --rem: 18px;
    --hgrid: calc(var(--rem) * 1.5);
    --vgrid: calc(var(--rem) * 1.5);
    --cellpad: calc(var(--hgrid) * .25); /* table cell padding */

    --serif: 'Times New Roman', TimesNewRoman, Times;
    --sans: sans-serif;

    font-family: var(--serif);
    --hilite: rgba(0, 0, 255, .25);

    height: 100%; overflow-y: scroll;
}
html.DEBUG {
    /* Background grid. */
    background-image: linear-gradient(       var(--hilite) 1px, transparent 1px),
                      linear-gradient(90deg, var(--hilite) 1px, transparent 1px);
    background-size:  var(--hgrid) var(--vgrid);
    background-position: 0 -9px;
}

body {
    margin: 0 var(--hgrid) var(--vgrid);
    min-height: 100%;
}

/***** Paragraphs *****/
p {
    margin-top: var(--vgrid);
    text-align: justify;
}
p + p {
    margin-top: 0;
    text-indent: var(--hgrid);
}

/***** Headings *****/
[title] { text-align: center; }
h1 {
    margin-top: calc(var(--vgrid) * 2);
    line-height: calc(var(--vgrid) * 3);
    font-size: calc(1rem * 3);
    /* Push text down to baseline. */
    position: relative; top: calc(1em * .275);
}
h2 {
    margin-top: calc(var(--vgrid) * 2);
    line-height: calc(var(--vgrid) * 2);
    font-size: calc(1rem * 2);
    /* Push text down to baseline. */
    position: relative; top: calc(1em * .2);
}
h3 {
    margin-top: var(--vgrid);
    line-height: calc(var(--vgrid) * 2);
    font-size: calc(1rem * 1.5);
    /* Push text down to baseline. */
    position: relative; top: calc(1em * .375);
}
h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: var(--vgrid);
}
h4 + h4 { margin-top: 0; }

/***** Blockquotes *****/
blockquote {
    margin: var(--vgrid) var(--hgrid) 0;
    text-align: justify;
}

/***** Lists *****/
ol, ul {
    margin: var(--vgrid) 0 0 var(--hgrid);
}
li > ol, li > ul {
    margin-left: 0;
}

/***** Tables *****/
table {
    font-size: inherit;
    line-height: inherit;

    border-collapse: collapse;
    margin-top: var(--vgrid);
    margin-left: calc(var(--hgrid) * .75); /* with cellpadding, a whole <hgrid> */
}
table.example td:empty {
    width: var(--vgrid); /* with cellpadding, a whole <vgrid> */
}
table td,
table th {
    padding: 0 var(--cellpad);
    height: var(--vgrid);
    vertical-align: top;
    width: 1%;
}
table td:last-child,
table th:last-child {
    width: unset;
}

/***** Links ********/
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/***** Subscript/superscript ********/
sup, sub {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
    top: -.4em;
}
sub { top: .4em; }

/***** Table-of-contents *****/
.toc {
    margin-left: 0;                       /* don't indent 1st <ul> level */
    text-align: left;
    columns: calc(var(--hgrid) * 10) auto;
    column-gap: var(--hgrid);
    /* column-rule: 1px solid black; */
}
.toc .h4,                                 /* hide <h4> headers */
.toc > li:first-child { display: none; }  /* hide 1st entry 'Contents' */
.toc, .toc ul { list-style: none; }       /* no bullets */
.toc ul { margin-top: 0; }

/***** Marking of source chunks *****/
mark {
    background: rgba(0, 0, 0, .05);
    border-radius: 4px;
}
mark:hover {
    background: rgba(0, 0, 0, .2);
}

/***** Special indents *****/
[hanging] {
    text-indent: calc(var(--hgrid) * -1);
    padding-left: var(--hgrid);
}
[hanging] td {
    text-indent: calc(var(--hgrid) * -1);
    padding-left: calc(var(--cellpad) + var(--hgrid));
}
[indent] {
    padding-left: var(--hgrid);
}
td[indent], th[indent] {
    padding-left: calc(var(--cellpad) + var(--hgrid));
}

/***** Background color for TODO notes and errata *****/
err, [TODO] { background: var(--hilite); }

/***** Button *****/
button {
    background: #aaf;
    padding: calc(var(--vgrid) * .5) var(--hgrid);
    margin:  calc(var(--vgrid) * .75) 0;
    border: 0;
    border-radius: 3px;
    font-size: inherit;
}

/***** Button decoding spinner (CSS animation). *****/
.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
}
.loading div {
    position: absolute;
    top: 3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
    left: 8px;
    animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
    left: 8px;
    animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
    left: 32px;
    animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
    left: 56px;
    animation: loading3 0.6s infinite;
}
@keyframes loading1 {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
@keyframes loading3 {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}
@keyframes loading2 {
    0% { transform: translate(0, 0); }
    100% { transform: translate(24px, 0); }
}

/* eof */
