@import url("common.css");

/* Landscape mode. */
@media (min-aspect-ratio: 1/1) {
    html.DEBUG {
        background-position: calc(50% + (var(--vgrid) * .5)) -9px;
    }
}

hr {
    padding: calc(var(--vgrid) * .5) 0 calc(var(--vgrid) * .5);
    padding: var(--vgrid) 0 0 0;
    line-height: var(--vgrid);
    text-align: center;
    border: 0;
}
hr:before { content: "★  ★  ★"; }

/* eof */
