* {
    margin: 0;
    padding: 0;
    XXbackground: rgba(255, 0, 0, .25);
    box-sizing: border-box;
}

html { /* or :root */
    font-size: 18px;
    line-height: 1.3333333333em;      /* = 24px for (unresized) 18px text */
    --rem: 18px;
    --hgrid: calc(var(--rem) * 1.3333333333);
    --vgrid: calc(var(--rem) * 1.3333333333);
    --cellpad: calc(var(--hgrid) * .25); /* table cell padding */

    --hilite: rgba(0, 0, 255, .25);
    --serif: Georgia, serif;
    --sans: sans-serif;
    font-family: var(--serif);

    height: 100%;
    overflow-y: scroll;
}

html.DEBUG {
    /* Background grid. */
    background-image: linear-gradient(       var(--hilite) 1px, transparent 1px),
                      linear-gradient(90deg, var(--hilite) 1px, transparent 1px);
    background-size:  var(--hgrid) var(--vgrid);
    background-position: 0 -7px;
}
/* Landscape mode. */
@media (min-aspect-ratio: 1/1) {
    html.DEBUG {
        background-position: calc(50% + (var(--vgrid) * .5)) -7px;
    }
}

body {
    margin: 0 var(--hgrid) var(--vgrid);
    min-height: 100%;
}

.toc {
    text-align: left;
}
.toc .h4 {
    display: none;
}

blockquote, ol, ul {
    margin-left: var(--hgrid);
}
blockquote {
    margin-left: var(--hgrid);
    margin-right: var(--hgrid);
}

li > ol, li > ul {
    margin-left: 0;
}

/* Margins */
aside, blockquote, details, ol, p, table, ul {
    margin-top: var(--vgrid);
    /* border-top: var(--vgrid) solid transparent; /\* rgba(255,0,0,.5); *\/ */
    /* outline: 1px solid var(--hilite); */
}
p + p, h4 + h4 { margin-top: 0; }
p + p { text-indent: var(--hgrid); }

p, blockquote {
    text-align: justify;
}

.toc {
    columns: calc(var(--hgrid) * 10) auto;
    column-gap: var(--hgrid);
    XXcolumn-rule-color: black;
    XXcolumn-rule-style: solid;
    XXcolumn-rule-width: 1px;
}

/* Lists in table-of-contents. */
.toc > li:first-child { display: none; }  /* hide 1st entry 'Contents' */
.toc { margin-left: 0; }                  /* don't indent 1st level */
.toc, .toc ul {                           /* no bullets */
    list-style: none;
    background: none;
}
.toc ul { margin-top: 0; }

hr {
    padding: calc(var(--vgrid) * .5) 0 calc(var(--vgrid) * .5);
    padding: var(--vgrid) 0 0 0;
    line-height: var(--vgrid);
    text-align: center;
    border: 0;
}
hr:before { content: "★  ★  ★"; }

table {
    font-size: inherit;
    line-height: inherit;

    /* table-layout: fixed; */
    border-collapse: collapse;
    margin-left: calc(var(--hgrid) * .75); /* with cellpadding, a whole <hgrid> */
}
table.example td:empty {
    width: var(--vgrid); /* with cellpadding, a whole <vgrid> */
}
table.example td:empty:not([colspan]) {
    /* background: red !important; */
}
table td,
table th {
    padding: 0 var(--cellpad);
    /* outline: 1px solid var(--hilite); */
    height: var(--vgrid);
    vertical-align: top;
    width: 1%;
}

table td:last-child,
table th:last-child {
    width: unset;
}

[title] { text-align: center; }

/* https://web.archive.org/save/_embed/https://www.modularscale.com/?18&px&1.25 */
/* Base fontsize: 18px, ratio 1.25 (4:5 major third) */
h1[title] {
    margin-top: calc(var(--vgrid) * 3);
    line-height: calc(var(--vgrid) * 3);
    font-size: 54.932px;                 /* or 3.052em */
    position: relative; top: -13px;      /* text baseline to vertical rhythm */
}
h2[title] {
    margin-top: calc(var(--vgrid) * 3);
    line-height: calc(var(--vgrid) * 2);
    font-size: 43.945px;                 /* or 2.441em */
    position: relative; top: -21px;      /* text baseline to vertical rhythm */
}

h1 {
    margin-top: calc(var(--vgrid) * 3);
    line-height: calc(var(--vgrid) * 2);
    font-size: 35.156px;                 /* or 1.953em */
    position: relative; top: -18px;      /* text baseline to vertical rhythm */
}

h2 {
    margin-top: calc(var(--vgrid) * 2);
    line-height: calc(var(--vgrid) * 2);
    font-size: 28.125px;                 /* or 1.563em */
    position: relative; top: 8px;        /* text baseline to vertical rhythm */
}

h3 {
    margin-top: var(--vgrid);
    line-height: calc(var(--vgrid) * 2);
    font-size: 22.5px;                   /* or 1.25em */
    position: relative; top: 10px;       /* text baseline to vertical rhythm */
}

h4 {
    margin-top: var(--vgrid);
    font-weight: normal;
    font-size: 1rem;
}

page {
    display: none;
}

details, err, [todo] { background: var(--hilite); }

details {
    padding-left: var(--hgrid);
    padding-right: var(--hgrid);
}
details > summary {
    margin-left: calc(var(--hgrid) * -1);
    margin-right: calc(var(--hgrid) * -1);
}

details[open] { padding-bottom: var(--vgrid); }
details[open] > summary { margin-bottom: var(--vgrid); }

[hanging] {
    text-indent: calc(var(--hgrid) * -1);
    padding-left: var(--hgrid);
}
[hanging] td {
    width: 33%;
    text-indent: calc(var(--hgrid) * -1);
    padding-left: calc(var(--cellpad) + var(--hgrid));
}

aside {
    /* Every 4th line of text lines up with every 3rd line of the main text */
    --line-height: calc(var(--vgrid) * 2 / 3); /* 2/3 of vgrid */
    --font-size:   calc(1rem * .8);            /* 80% of base font size */
    --vpadding:    calc(var(--vgrid) * .5);
    --hpadding:    var(--hgrid);
    line-height: var(--line-height);
    font-size:   var(--font-size);

    float: right;
    width: calc(var(--hgrid) * 7);
    XXoutline: 1px solid black;
    padding: var(--vpadding) var(--hpadding);

    /* Push text down to baseline using top margin. */
    margin: var(--line-height)  0      calc(var(--vgrid) * .5)  var(--hgrid);
}

[indent] {
    padding-left: var(--hgrid);
}
td[indent], th[indent] {
    padding-left: calc(var(--cellpad) + var(--hgrid));
    /* background: var(--hilite); */
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button {
    background: #aaf;
    padding: calc(var(--vgrid) * .5) var(--hgrid);
    margin:  calc(var(--vgrid) * .75) 0;
    border: 0;
    border-radius: 3px;
    font-size: inherit;
}
button[disabled] { opacity: .75; }

/* Loading spinner. */
.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
}
.loading div {
    position: absolute;
    top: 3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
    left: 8px;
    animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
    left: 8px;
    animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
    left: 32px;
    animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
    left: 56px;
    animation: loading3 0.6s infinite;
}
@keyframes loading1 {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
@keyframes loading3 {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}
@keyframes loading2 {
    0% { transform: translate(0, 0); }
    100% { transform: translate(24px, 0); }
}

mark {
    background: rgba(0, 0, 0, .05);
    border-radius: 4px;
}
mark:hover {
    /* outline: 2px solid  rgba(0, 0, 0, .5); */
    background: rgba(0, 0, 0, .2);
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
    top: -.4em;
}
sub {
    top: .4em;
}
/* eof */
