@import url("common.css");

html { /* or :root */
    font-size: 18px;
    line-height: 1.5;      /* = 27px for (unresized) 18px text */
    --rem: 18px;
    --hgrid: calc(var(--rem) * 1.5);
    --vgrid: calc(var(--rem) * 1.5);
    --cellpad: calc(var(--hgrid) * .25); /* table cell padding */

    font-family: var(--serif);
    --hilite: rgba(0, 0, 255, .25);
}

:root.DEBUG {
    /* Background grid. */
    background-image: linear-gradient(       var(--hilite) 1px, transparent 1px),
                      linear-gradient(90deg, var(--hilite) 1px, transparent 1px);
    background-size:  var(--hgrid) var(--vgrid);
    background-position: 0 -9px;

    /* Background lines. */
    /* background-image: linear-gradient(       var(--hilite) 1px, transparent 1px); */
    /* background-size:  var(--hgrid) var(--vgrid); */
    /* background-position: 0 -9px; */
}

h1, h2, h3 {
    text-align: left;
}

ol, ul {
    margin-left: var(--hgrid);
    XXpadding-left: calc(var(--hgrid) * .5);
}
li > ol, li > ul {
    margin-left: 0;
}

aside, details, h4, p, table { margin-top: var(--vgrid); }
p {
    text-align: justify;
}
p + p {
    margin-top: 0;
    text-indent: var(--hgrid);
}

hr {
    padding: calc(var(--vgrid) * .5) 0 calc(var(--vgrid) * .5);
    padding: var(--vgrid) 0 0 0;
    line-height: var(--vgrid);
    text-align: center;
    border: 0;
}
hr:before { content: "★  ★  ★"; }

table {
    font-size: inherit;
    line-height: inherit;

    /* table-layout: fixed; */
    border-collapse: collapse;
    margin-left: calc(var(--hgrid) * .75); /* with cellpadding, a whole <hgrid> */
}
table.example td:empty {
    width: var(--vgrid); /* with cellpadding, a whole <vgrid> */
}
table.example td:empty:not([colspan]) {
    /* background: red !important; */
}
table td,
table th {
    padding: 0 var(--cellpad);
    /* outline: 1px solid var(--hilite); */
    height: var(--vgrid);
    vertical-align: top;
    width: 1%;
}

table td:last-child,
table th:last-child {
    width: unset;
}

h1, h2, h3, h4 {
    margin-top: calc(var(--vgrid) * 2);
}

[title] { text-align: center; }

h1 {
    line-height: calc(var(--vgrid) * 3);
    font-size: calc(1rem * 3);
    /* Push text down to baseline. */
    position: relative; top: calc(1em * .275);
}

h2 {
    line-height: calc(var(--vgrid) * 2);
    font-size: calc(1rem * 2);
    /* Push text down to baseline. */
    position: relative; top: calc(1em * .2);
}

h3 {
    margin-top: var(--vgrid);
    line-height: calc(var(--vgrid) * 2);
    font-size: calc(1rem * 1.5);
    /* Push text down to baseline. */
    position: relative; top: calc(1em * .375);
}

h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: var(--vgrid);
    /*margin-bottom: calc(var(--vgrid) * -.3);*/
}

h4 + h4 { margin-top: 0; }

details, err, [TODO] { background: var(--hilite); }

aside {
    /* Every 4th line of text lines up with every 3rd line of the main text */
    --line-height: calc(var(--vgrid) * 2 / 3); /* 2/3 of vgrid */
    --font-size:   calc(1rem * .8);            /* 80% of base font size */
    --vpadding:    calc(var(--vgrid) * .5);
    --hpadding:    var(--hgrid);
    line-height: var(--line-height);
    font-size:   var(--font-size);

    float: right;
    width: calc(var(--hgrid) * 7);
    outline: 1px solid black;
    padding: var(--vpadding) var(--hpadding);

    /* Push text down to baseline using top margin. */
    margin: var(--line-height)  0      calc(var(--vgrid) * .5)  var(--hgrid);
}

/* eof */
